<VirtualHost 127.0.0.1:8080>
    ServerName 127.0.0.1
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html
    LogLevel info
    ErrorLog ${APACHE_LOG_DIR}/server-status-error.log
    CustomLog ${APACHE_LOG_DIR}/server-status-access.log combined

    <Location /server-status>
        SetHandler server-status
        Order deny,allow
        Deny from all
        Allow from localhost
    </Location>
</VirtualHost>

